<mat-radio-group [(ngModel)]="tipAutora">
  <mat-radio-button value="ziv">Autor je živ</mat-radio-button>
  <mat-radio-button value="mrtav">Autor je mrtav</mat-radio-button>
  <mat-radio-button value="anoniman">Anoniman autor</mat-radio-button>
</mat-radio-group>

<div *ngIf="tipAutora == 'ziv'">
  <p>
    <mat-form-field appearance="outline" style="width: 49%; float: left">
      <mat-label>Ime autora</mat-label>
      <input matInput [(ngModel)]="autor.ime" placeholder="Ime">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 49%; float: right">
      <mat-label>Prezime autora</mat-label>
      <input matInput [(ngModel)]="autor.prezime" placeholder="Prezime">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="width: 49%; float: left">
      <mat-label>Ulica</mat-label>
      <input matInput [(ngModel)]="autor.adresa.ulica" placeholder="Ulica" required>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 19%">
      <mat-label>Broj u ulici</mat-label>
      <input matInput [(ngModel)]="autor.adresa.brojUUlici" placeholder="Broj" required>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 29%; float: right">
      <mat-label>Poštanski broj</mat-label>
      <input matInput [(ngModel)]="autor.adresa.postanskiBroj" placeholder="Poštanski broj" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="width: 49%; float: left">
      <mat-label>Mesto</mat-label>
      <input matInput [(ngModel)]="autor.adresa.mesto" placeholder="Mesto" required>
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 49%; float: right">
      <mat-label>Država</mat-label>
      <input matInput [(ngModel)]="autor.adresa.drzava" placeholder="Država" required>
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="outline" style="width: 100%; float: right">
      <mat-label>Državljanstvo autora</mat-label>
      <input matInput [(ngModel)]="autor.drzavljanstvo" placeholder="Državljanstvo">
    </mat-form-field>
  </p>
</div>

<div *ngIf="tipAutora == 'mrtav'">
  <p>
    <mat-form-field appearance="outline" style="width: 49%; margin-right: 5px">
      <mat-label>Ime autora</mat-label>
      <input matInput [(ngModel)]="autor.ime" placeholder="Ime autora">
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 49%; float: right">
      <mat-label>Godina smrti autora</mat-label>
      <input matInput [(ngModel)]="autor.godinaSmrti" placeholder="Godina smrti autora">
    </mat-form-field>
  </p>
</div>

<div>
  <p>
    <mat-form-field appearance="outline" style="width: 100%; margin-left: 5px">
      <mat-label>Pseudonim/Znak autora ukoliko ga ima</mat-label>
      <input matInput [(ngModel)]="autor.pseudonim" placeholder="Pseudonim/Znak autora">
    </mat-form-field>
  </p>
</div>
