<p>
  <mat-form-field appearance="outline" style="width: 49%; float: left">
    <mat-label>Ulica</mat-label>
    <input matInput [(ngModel)]="adresa.ulica" placeholder="Ulica" required>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 19%">
    <mat-label>Broj u ulici</mat-label>
    <input matInput [(ngModel)]="adresa.brojUUlici" placeholder="Broj" required>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 29%; float: right">
    <mat-label>Poštanski broj</mat-label>
    <input matInput [(ngModel)]="adresa.postanskiBroj" placeholder="Poštanski broj" required>
  </mat-form-field>
</p>

<p>
  <mat-form-field appearance="outline" style="width: 49%; float: left">
    <mat-label>Mesto</mat-label>
    <input matInput [(ngModel)]="adresa.mesto" placeholder="Mesto" required>
  </mat-form-field>

  <mat-form-field appearance="outline" style="width: 49%; float: right">
    <mat-label>Država</mat-label>
    <input matInput [(ngModel)]="adresa.drzava" placeholder="Država" required>
  </mat-form-field>
</p>
