<mat-toolbar color="primary">
  <span>Obrada zahteva za prava intelektualne svojine</span>
  <span class="example-spacer"></span>
  <button mat-icon-button *ngIf="role === 'SLUZBENIK'" (click)="generateReport()"
          [matTooltip]="'Generisanje izveštaja'">
    <mat-icon>event_note</mat-icon>
  </button>
  <button mat-icon-button (click)='goToPage("/search")' [matTooltip]="'Pretraga zahteva'">
    <mat-icon>search</mat-icon>
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" [matTooltip]="'Ostale opcije'">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)='goToPage("/autorska-prava")'>
      <mat-icon>library_books</mat-icon>
      Autorska prava
    </button>
    <button mat-menu-item (click)='goToPage("/patenti")'>
      <mat-icon>construction</mat-icon>
      Patenti
    </button>
    <button mat-menu-item (click)='goToPage("/zigovi")'>
      <mat-icon>image</mat-icon>
      Žigovi
    </button>
    <button mat-menu-item (click)='goToPage("/home")'>
      <mat-icon>home</mat-icon>
      Početna strana
    </button>
    <button mat-menu-item (click)='logout()'>
      <mat-icon>logout</mat-icon>
      Odjavi se
    </button>
  </mat-menu>
</mat-toolbar>
