<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-4 text-center tile">
    <img src="assets/autor.png" alt="Autor">
    <h4><b>Autorska prava</b></h4>
    <p>Autorsko delo je originalna duhovna tvorevina autora, izražena u slobodnoj formi, bez obzira na njegovu umetničku, naučnu ili drugu vrednost.
    Autorskim delom se naročito smatraju pisana dela, govorna, muzička, likovna, arhitektonska i slična.
    Podnošenjem zahteva za autorsko pravo nad svojim delom bilo koje vrste štitite se od zloupotrebe i nezakonitog korišćenja od strane drugih stvaraoca. </p>
    <button color="primary" (click)="goToPage('autorska-prava')" mat-raised-button>Kreiraj zahtev</button>
  </div>
  <div class="col-md-4 text-center tile">
    <img src="assets/patent.png" alt="Autor">
    <h4><b>Patenti</b></h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. </p>
    <button color="primary" (click)="goToPage('patenti')" mat-raised-button>Kreiraj zahtev</button>
  </div>
  <div class="col-md-4 text-center tile">
    <img src="assets/zig.png" alt="Autor">
    <h4><b>Žigovi</b></h4>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. </p>
    <button color="primary" (click)="goToPage('zigovi')" mat-raised-button>Kreiraj zahtev</button>
  </div>
</div>
