<app-navbar></app-navbar>
<div class="row">
  <div class="col-md-4 text-center tile">
    <img src="assets/autor.png" alt="Autor">
    <h4><b>Autorska prava</b></h4>
    <p>Autorsko delo je originalna duhovna tvorevina autora, izražena u slobodnoj formi, bez obzira na njegovu
      umetničku, naučnu ili drugu vrednost.
      Autorskim delom se naročito smatraju pisana dela, govorna, muzička, likovna, arhitektonska i slična.
      Podnošenjem zahteva za autorsko pravo nad svojim delom bilo koje vrste štitite se od zloupotrebe i nezakonitog
      korišćenja od strane drugih stvaraoca. </p>
    <button color="primary" (click)="goToPage('autorska-prava')" mat-raised-button>Kreiraj zahtev</button>
  </div>
  <div class="col-md-4 text-center tile">
    <img src="assets/patent.png" alt="Autor">
    <h4><b>Patenti</b></h4>
    <p>Patent je pravo kojim se štiti pronalazač iz bilo koje oblasti tehnike i tehnologije. Pronalazak koji se može
      zaštititi petentom je tehničko rešenje u vidu novog ili poboljšanog proizvoda ili postupka. Nosilac patenta ima
      pravo da spreči druge
      da koriste zaštićeni pronalayak u komercijalne svrhe, kao što je proizvodnja, nuđenje, stavljanje u promet, uvoz,
      skladištenje i druge aktivnosti.</p>
    <button color="primary" (click)="goToPage('patenti')" mat-raised-button>Kreiraj zahtev</button>
  </div>
  <div class="col-md-4 text-center tile">
    <img src="assets/zig.png" alt="Autor">
    <h4><b>Žigovi</b></h4>
    <p>Žig ili zaštitni znak je prepoznatljivi i zaštićeni znak ili indikator prava pojedinca, privrednog društva ili
      drugih pravnih lica koji identifikuju svoje proizvodu i usluge za potrošače kao jedinstvene i razlikuju svoje
      proizvode
      ili usluge od onih drugih elemenata. Žig je najčešće ime, reč, fraza, logo, dizajn, simbol ili kombinacija ovih
      elemenata.</p>
    <button color="primary" (click)="goToPage('zigovi')" mat-raised-button>Kreiraj zahtev</button>
  </div>
</div>
